<section class="loginPrompt border border-primary border-3">
  <div class="loginPromptprompt-header">
    <h3 class="loginPromptprompt-header-text">
      Already signed up? Just Sign in, otherwise please Sign up.
    </h3>
  </div>

  <div class="loginPromptBtns">
    <a href="/signup" class="btn btn-primary" role="button">Sign up</a>
    <a href="/signin" class="btn btn-primary" role="button">Sign in</a>
  </div>
</section>