<section class="blog border border-primary border-3">
  <div class="blog-title">
    <h2>Add a new blog</h2>
  </div>
  <hr />
  <div class="blog-text">
    <input
      id="blog-title "
      class="title form-control new-blog-el"
      type="text"
      placeholder="Blog title"
    />
    <textarea
      class="blog-textarea form-control new-blog-el"
      id="blog-input"
      type="text"
      placeholder="Write a new blog"
    ></textarea>
    <a id="save-blog-btn" class="btn btn-primary new-blog-el" role="button">Save
      Blog</a>
  </div>
</section>

<script src="/js/blogs.js"></script>