<section class="blog border border-primary border-3">
  <div class="blog-title">
    <h2>Add a comment</h2>
  </div>
  <div class="blog-text">
    <input
      type="hidden"
      id="user_id"
      name="user_id"
      value="{{blogs.user_id}}"
    />
    <input type="hidden" id="blog_id" name="blog_id" value="{{blogs.id}}" />
    <textarea
      class="blog-textarea"
      id="comment-input"
      type="text"
      placeholder="Write your comment here."
    ></textarea>
    <a
      id="add-comment-btn"
      class="btn btn-primary new-blog-el"
      role="button"
    >Add Comment</a>
  </div>
</section>

<script src="/js/comments.js"></script>