<section class="sign-in border border-primary">
  <div class="sign-in-title">
    <h2>Sign in</h2>
  </div>
  <div class="sign-in-input">
    <input
      class="form-control sign-in-input-el"
      id="email"
      type="text"
      placeholder="Email"
    />
    <input
      class="form-control sign-in-input-el"
      id="passsword"
      type="password"
      placeholder="password"
    />
    <a
      id="sign-in-btn"
      class="btn btn-primary sign-in-input-el"
      role="button"
    >Sign in</a>
  </div>
</section>

<script src="js/sign-in.js"></script>