<section class="sign-up border border-primary border-3">
  <div class="sign-up-title">
    <h2>Wholly Tech Blog Sign UP</h2>
  </div>
  <form>
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control form-el"
          placeholder="First name"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control form-el"
          placeholder="Last name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control form-el"
          placeholder="Username"
        />
      </div>
      <div class="col">
        <input type="email" class="form-control form-el" placeholder="Email" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input
          type="password"
          class="form-control form-el"
          placeholder="Passowrd"
        />
      </div>
      <div class="col">
        <input
          type="password"
          class="form-control form-el"
          placeholder="Confirm your password"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary form-el" disabled>
      Submit
    </button>
  </form>
</section>

<script src="js/sign-up.js"></script>