* {
  box-sizing: border-box;
  /* margin: auto; */
  padding: 0;
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sign-up {
  width: 50%;
  height: 400px;
  border: solid 1px;
  border-radius: 10px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.loginPrompt {
  width: 50%;
  height: 200px;
  border: solid 1px;
  border-radius: 10px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.loginPrompt-header {
  align-items: center;
  text-align: center;
}

.loginPromptprompt-header-text {
  text-align: center;
}

.loginPromptBtns {
  margin: 15px;
}

.sign-in {
  width: 50%;
  height: 350px;
  border: solid 10px;
  border-radius: 10px;
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.sign-in-input {
  width: 65%;
}

.sign-in-input-el,
.form-el {
  margin: 10px;
  padding: 10px;
}

.navbar {
  margin: auto;
  width: 80%;
}

.navbar-btn {
  display: flex;
  flex-direction: row;
  height: 66px;
}

.blog,
.user-post,
.comment {
  width: 50%;
  height: fit-content;
  border: solid 10px;
  border-radius: 10px;
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.title,
.blog-text,
.post-text {
  margin: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
}

.new-blog-el {
  margin: 5px;
}

.blog-textarea,
.input-text {
  width: 300%;
  height: 300px;
}

.nounderline {
  text-decoration: none !important;
  color: black;
}

.post-header {
  margin: 0 !important;
  padding: 0 !important;
}

#blog-title {
  width: 300%;
  height: fit-content;
}
